
* { margin: 0; padding: 0; }

html,button,input,select,textarea
{
	color:#444;
}

html
{
	font-size:1em;
	line-height: 1.4;

	/*background-color:#777;*/

}


#wrapper
{
	max-width: 900px;
	max-height: 320px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


#my_pic
{
	float : right;
	/*border-width: 10px;*/
	border: 1px;
	border-color: #ccc;
	/*border-style: 0 2px 4px rgba(0,0,0,0.2);*/
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);

}



h1
{
	/* font-family: alex-brush, cursive; */

	/*font-family: aladin, sans-serif; */

	/**/
	margin: 0 0 16px 0; 
	padding: 0 0 16px 0; 
	font-size: 42px; 
	font-weight: bold; 
	letter-spacing: -2px; 
	border-bottom: 1px solid #999;


}

h2
{
	/*font-family: advent-pro, sans-serif;*/
	/**/
	font-size: 20px; 
	margin: 0 0 6px 0;
	position: relative;

}

h2 span 
{ 
	position: absolute; 
	bottom: 0; 
	right: 0; 
	font-style: italic; 
	font-family: Georgia, Serif; 
	font-size: 16px; 
	color: #999; 
	font-weight: normal; 
}



#page-wrap 
{ 
	width: 800px; 
	margin: 40px auto 60px; 
}


#objective 
{ 
	width: 550px; 
	float: left; 
}

#objective p 
{ 
	font-family: Georgia, Serif; 
	font-style: italic; 
	color: #666; 
}


.clear { clear: both; }

dd.clear { float: none; margin: 0; height: 15px; }

body 
{ 
	font: 16px Helvetica, Sans-Serif; 
	line-height: 24px; 
	background: url(images/noise.jpg); 
}


p 
{ 
	margin: 0 0 16px 0; 
}

a 
{ color: #999; 
	text-decoration: none; 
	border-bottom: 1px dotted #999; 
}

a:hover 
{ border-bottom-style: solid; 
	color: black; 
}

ul 
{ 
	margin: 0 0 32px 17px; 
}


dt 
{ 
	font-style: italic; 
	font-weight: bold; 
	font-size: 18px; 
	text-align: right; 
	padding: 0 26px 0 0; 
	width: 150px; 
	float: left; 
	height: 100px; 
	border-right: 1px solid #999;  
}

dd 
{ 
	width: 600px;
 	float: right; 
}